<p>{{ _('Dear %(user)s',user=user.first_name + ' ' + user.last_name) }}</p>
{% set reset_password_link %}
    <a href="{{ url_for('auth.reset_password',token=token,_external=True) }}">{{ _('click here') }}</a>
{% endset %}
<p>{{ _('To reset your password %(reset_password_link)s',reset_password_link=reset_password_link) }}</p>
<p>{{ _("Alternatively, you can paste the following link in your browser's address bar:" ) }}</p>
<p>{{ reset_password_link }}</p>
<p>{{ _('If you have not requested a password reset simply ignore the message.') }}</p>
<p>{{ _('Sincerely,') }}</p>
<p>{{ _('The BOT·IC Team') }}</p>