{% extends "base.html" %}
{% block title %}{{ _('Home Page') }}{% endblock %}
{% block app_content %}
    <div class="b__titles">
        {{ _('Bots') }}
    </div>
    <div class="b__flex__row">
        <div id="bots-section" class="b__w__600">
            <div id="bots-info">
                {% include "fragments/bots.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='styles/pages/index.css')}}"/>
{% endblock %}